azure-storage-blob
azure-ai-ml
fastapi
kaggle
kagglehub
lightgbm
loguru
matplotlib
mlflow
numpy
pandas[performance, output-formatting, excel, feather, parquet]
pandera
pydantic
pydantic-settings
python-dotenv
PyYAML
rich
scipy
typer
uvicorn
